$Night_Mode_Text: white;
$Night_Mode_Gradient: linear-gradient(#141e30, #243b55);

$Light_Mode_Gradient: #f1faee;
$Light_Mode_Text: black;

header {
	background: #a8dadc;
	border: 5px solid #457b9d;
}
.Night-Mode {
	background: $Night_Mode_Gradient;
	color: $Night_Mode_Text;
}

body {
	background: $Light_Mode_Gradient;
	color: $Light_Mode_Text;

	&.Night-Mode {
		background: $Night_Mode_Gradient;
		color: $Night_Mode_Text;
	}
}

.blue {
	color: blue;
}
.header-logo-img {
	cursor: help;
	border-radius: 50%;
	background-color: #66ff99;
	border: 5px solid #31e981;
	max-width: 9vmin;
	height: auto;
	transition: box-shadow 0.7s, transform 2s;
}

header .header-container .TitreSite {
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 4.2vmin;
	letter-spacing: 0.6px;
	word-spacing: 1.8px;
	color: #00120b;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}

.header-logo-img:hover {
	box-shadow: 0 0 2px 15px rgba(0, 140, 186, 0.5);
	transform: rotate(720deg);
}

.header-container {
	width: 1920px;
	max-width: 100%;
	padding: 5px;
	margin: 0 auto;
}

header .header-container {
	display: flex;
	align-items: center;
	margin-right: 25px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header-nav-list {
	margin: 1em 0 0.5em;
	text-align: center;
}
.header-nav-list li {
	color: #00120b;
	display: inline;
}

.header-nav a {
	display: inline-block;
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 2.2vmin;
	letter-spacing: 0.6px;
	word-spacing: 1.8px;
	color: #1d3557;
	font-weight: 700;
	text-decoration: underline;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	padding: 0.5em 1.5em;
}

.header-nav a:hover {
	color: #e63946;
}

.forbidden {
	cursor: no-drop;
}

#Night-button {
	background: #000000;
	background: linear-gradient(#000000, #073763);
	border: 4px solid $Light_Mode_Text;
	border-radius: 1000px;
	width: 10%;
	height: 5vmin;
	color: #ffffff;
	display: inline-block;
	font: normal bold 2vmin 'Ubuntu', sans-serif;
	text-align: center;
	transition: all 1s ease-out;
	position: fixed;
	top: 10%;
	right: 13%;
	&:hover {
		color: $Light_Mode_Text;
		background: $Night_Mode_Text;
		border: 5px solid black;
	}
}

.white-theme-button {
	background: red;
	border: 4px solid #e06666;
	border-radius: 1000px;
	width: 10%;
	height: 5vmin;
	color: black;
	display: inline-block;
	font: normal bold 2vmin 'Ubuntu', sans-serif;
	text-align: center;
}
